[submodule "XS/miniaudio"]
	path = XS/miniaudio
	url = https://github.com/G4Vi/miniaudio
[submodule "public_html/static/music_worklet_inprogress/decoder/deps/miniaudio"]
	path = App-MHFS/share/public_html/static/music_worklet_inprogress/decoder/deps/miniaudio
	url = https://github.com/G4Vi/miniaudio
[submodule "public_html/static/music_worklet_inprogress/decoder/deps/dr_libs"]
	path = App-MHFS/share/public_html/static/music_worklet_inprogress/decoder/deps/dr_libs
	url = https://github.com/G4Vi/dr_libs
