[Unit]
Description=MHFS server
Wants=network.target
After=network.target

[Service]
Type=simple
User=mhfs
WorkingDirectory=/home/mhfs
ExecStart=/bin/bash -ac 'eval "$(perl -I/home/mhfs/perl5/lib/perl5 -Mlocal::lib)"; exec mhfs'
Restart=on-failure

[Install]
WantedBy=multi-user.target